.App {
  text-align: center;
  /*background-image:url('./Images/nba_wallpaper.jpg');
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: -10;*/
}

#jordan{
  position: relative;
  right: 7em;
}

